<div class="header">
	<div class="container mx-auto px-4 py-4 flex flex-col md:flex-row justify-between items-center">
		<div class="header-left">
			<a href="#" class="logo">Pagalavan</a>
			<div class="hero-text">
				<h1 class="hero-title">Passionate<br>UI/UX<br>Developer</h1>
			</div>
		</div>
		<!-- <div class="left-bg">
			<img src="../assets/right-img.jpg" class="profile-img">
		</div> -->
		<!-- <div class="header-right">
			<img src="https://via.placeholder.com/150" alt="Profile Image" class="profile-img">
		</div> -->
		<nav class="nav">
			<a href="#home">Home</a>
			<a href="#portfolio">Portfolio</a>
			<a href="#contact">Contact</a>
		</nav>
	</div>
	<div class="header-content">
		<div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center py-4">
			<div class="intro-text">
				<h2>Hello, I'm Pagalavan</h2>
				<p>Get a project? <a href="#" class="cta-link">Contact Me</a> | <a href="#" class="cta-link">My
						Resume</a></p>
			</div>
			<div class="skills">
				<span>HTML5</span> <span>CSS3</span> <span>JavaScript</span> <span>React</span> <span>Ionic</span>
				<span>Git</span>
			</div>
		</div>
	</div>


	<section class="about">
		<div class="container mx-auto px-4 py-6">
			<div class="about-content">
				<h2>About Me</h2>
				<p>I started my UI/UX journey from a passion for design... Through that, I learned to craft stunning
					interfaces and build engaging applications.</p>
				<div class="stats">
					<span>50+ Projects</span>
					<span>90% Client Satisfaction</span>
					<span>5+ Years Experience</span>
				</div>
			</div>
			<div class="services">
				<div><span>🌐 Website Development</span></div>
				<div><span>📱 App Development</span></div>
				<div><span>☁️ Website Hosting</span></div>
			</div>
		</div>
	</section>
</div>